[mysqld]
server-id         = 1
log_bin           = mysql-bin
binlog_format     = ROW
binlog_row_image  = FULL

# Thay thế expire_logs_days = 7 bằng số giây tương ứng (7 ngày)
binlog_expire_logs_seconds = 604800